*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-left: 250px;
}
.menu ul{
    display: flex;
    margin-right: 70px;
}
.menu ul li{
    display: block;
    text-decoration: none;
    font-size: 13pt;
    padding-right: 30px
}
.menu ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.menu > nav ul li a:hover{
    background-color: #000;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
}
.bag{
    width: 100%;
    height: 2300px;
    background-color: #000;
}
.banner{
    width: 100%;
    min-height: 805px;
}
.banner img{
    width: 100%;
    height: 805px;
}
.content{
    width: 100%;
    height: 500px;
}
.teams{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-top: 10px;
}
.teams a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.teams a:hover{
    color: aqua;
}
.team{
    width: initial;
    height: 655px;
}
.team1{
    text-align: center;
}
.team1 a{
    text-decoration: none;
    color: black;
}
.team1 img{
    width: 9%;
    height: 9%;
    border-radius: 20px;
    line-height: 10px;
    padding: 15px;
    margin: 15px;
}
.team1 img:hover{
    background-color: #fff;
}
.team2{
    text-align: center;
}
.team2 a{
    text-decoration: none;
    color: black;
}
.team2 img{
    width: 9%;
    height: 9%;
    border-radius: 20px;
    line-height: 10px;
    padding: 15px;
    margin: 15px;
}
.team2 img:hover{
    background-color: #fff;
}
.team3{
    text-align: center;
}
.team3 a{
    text-decoration: none;
    color: black;
}
.team3 img{
    width: 9%;
    height: 9%;
    border-radius: 20px;
    line-height: 10px;
    padding: 15px;
    margin: 15px;
}
.team3 img:hover{
    background-color: #fff;
}
.players{
    width: 100%;
    height: 730px;
    margin-top: 50px;
}
.players a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.players a:hover{
    color: aqua;
}
.player1 {
    text-align: center;
}
.player1 a{
    text-decoration: none;
    color: black;
}
.player1 img{
    width: 15%;
    height: 15%;
    border-radius: 30px;
    line-height: 10px;
    padding: 15px;
    margin: 15px;
}
.player1 img:hover{
    background-color: #fff;
}
.player2 {
    text-align: center;
}
.player2 a{
    text-decoration: none;
    color: black;
}
.player2 img{
    width: 15%;
    height: 15%;
    border-radius: 30px;
    line-height: 10px;
    padding: 15px;
    margin: 15px;
}
.player2 img:hover{
    background-color: #fff;
}
.player3 {
    text-align: center;
}
.player3 a{
    text-decoration: none;
    color: black;
}
.player3 img{
    width: 15%;
    height: 15%;
    border-radius: 30px;
    line-height: 10px;
    padding: 15px;
    margin: 15px;
}
.player3 img:hover{
    background-color: #fff;
}
footer h3{
    text-align: center;
}
